* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    background-color: rgb(76, 102, 81);
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    margin: 0 4vw;
}

p {
    margin-top: 3vh;;
}

button {
    padding: 1vw 3vw;
    margin-top: 3vh;
}